<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Virtual Kanomchan</title>
    <link rel="shortcut icon" href="TemplateData/favicon.ico">
    <link rel="stylesheet" href="TemplateData/style.css">
    <script src="TemplateData/UnityProgress.js"></script>
    <script src="src/FileSaver.js"></script>
    <script src="Build/UnityLoader.js"></script>
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "Build/VKBuild.json", {onProgress: UnityProgress});
    </script>
  </head>
  <body>
    <div class="webgl-content">
      <div id="gameContainer" style="width: 990px; height: 557px"></div>
      <div class="footer"></div>

    </div>
    <p id="Version">Ver 0.0.1</p>
    <p id="IP_Client">0.0.0.0</p>
    <p id="TTT">0</p>
    <details style="width: 50px; height: 50px; margin-left: 495px ;margin-top: 275px"> <summary>.</summary>
    <p id="TextExitKV">0</p> 
    <p id="TextKanomMovement">0</p> 
    <p id="TextKanomSpeed">0</p> 
    <p id="TextUSB">USB_Off</p>
    <p id="TextOutput1">Output1_Off</p>
    <p id="TextOutput2">Output2_Off</p>
    <p id="x0y0">0</p><p id="x0y1">0</p><p id="x0y2">0</p><p id="x0y3">0</p><p id="x0y4">0</p><p id="x0y5">0</p><p id="x0y6">0</p><p id="x0y7">0</p>
    <p id="x1y0">0</p><p id="x1y1">0</p><p id="x1y2">0</p><p id="x1y3">0</p><p id="x1y4">0</p><p id="x1y5">0</p><p id="x1y6">0</p><p id="x1y7">0</p>
    <p id="x2y0">0</p><p id="x2y1">0</p><p id="x2y2">0</p><p id="x2y3">0</p><p id="x2y4">0</p><p id="x2y5">0</p><p id="x2y6">0</p><p id="x2y7">0</p>
    <p id="x3y0">0</p><p id="x3y1">0</p><p id="x3y2">0</p><p id="x3y3">0</p><p id="x3y4">0</p><p id="x3y5">0</p><p id="x3y6">0</p><p id="x3y7">0</p>
    <p id="x4y0">0</p><p id="x4y1">0</p><p id="x4y2">0</p><p id="x4y3">0</p><p id="x4y4">0</p><p id="x4y5">0</p><p id="x4y6">0</p><p id="x4y7">0</p>
    <p id="x5y0">0</p><p id="x5y1">0</p><p id="x5y2">0</p><p id="x5y3">0</p><p id="x5y4">0</p><p id="x5y5">0</p><p id="x5y6">0</p><p id="x5y7">0</p>
    <p id="x6y0">0</p><p id="x6y1">0</p><p id="x6y2">0</p><p id="x6y3">0</p><p id="x6y4">0</p><p id="x6y5">0</p><p id="x6y6">0</p><p id="x6y7">0</p>
    <p id="x7y0">0</p><p id="x7y1">0</p><p id="x7y2">0</p><p id="x7y3">0</p><p id="x7y4">0</p><p id="x7y5">0</p><p id="x7y6">0</p><p id="x7y7">0</p>
    <p id="x8y0">0</p><p id="x8y1">0</p><p id="x8y2">0</p><p id="x8y3">0</p><p id="x8y4">0</p><p id="x8y5">0</p><p id="x8y6">0</p><p id="x8y7">0</p>
    <p id="x9y0">0</p><p id="x9y1">0</p><p id="x9y2">0</p><p id="x9y3">0</p><p id="x9y4">0</p><p id="x9y5">0</p><p id="x9y6">0</p><p id="x9y7">0</p>
    <p id="x10y0">0</p><p id="x10y1">0</p><p id="x10y2">0</p><p id="x10y3">0</p><p id="x10y4">0</p><p id="x10y5">0</p><p id="x10y6">0</p><p id="x10y7">0</p>
    <p id="x11y0">0</p><p id="x11y1">0</p><p id="x11y2">0</p><p id="x11y3">0</p><p id="x11y4">0</p><p id="x11y5">0</p><p id="x11y6">0</p><p id="x11y7">0</p>
    <p id="x12y0">0</p><p id="x12y1">0</p><p id="x12y2">0</p><p id="x12y3">0</p><p id="x12y4">0</p><p id="x12y5">0</p><p id="x12y6">0</p><p id="x12y7">0</p>
    <p id="x13y0">0</p><p id="x13y1">0</p><p id="x13y2">0</p><p id="x13y3">0</p><p id="x13y4">0</p><p id="x13y5">0</p><p id="x13y6">0</p><p id="x13y7">0</p>
    <p id="x14y0">0</p><p id="x14y1">0</p><p id="x14y2">0</p><p id="x14y3">0</p><p id="x14y4">0</p><p id="x14y5">0</p><p id="x14y6">0</p><p id="x14y7">0</p>
    <p id="x15y0">0</p><p id="x15y1">0</p><p id="x15y2">0</p><p id="x15y3">0</p><p id="x15y4">0</p><p id="x15y5">0</p><p id="x15y6">0</p><p id="x15y7">0</p>
    <p id="TextServo">0</p>
    <p id="TextServoP1">0</p>
    <p id="TextServoP2">0</p>
    
    <p id="TextSwitch1">0</p>
    <p id="TextSwitch2">0</p>
    <p id="TextLightSensor">0</p>
    <p id="TextTempSensor">0</p>
    <p id="TextInput1">0</p>
    <p id="TextInput2">0</p>
    <p id="TextInput3">0</p>
    <p id="TextInput4">0</p>
    <p id="TextClose">0</p>
    <p id="TextRun">0</p>
    <p id="TextSaveTime">0</p>
    <p id="TextOpenFile">0000,0000,0000,0000,0000,0000,0000,0000,0000</p>
    <p id="TextFileName">No file chosen</p>
    <input type='file' id="autoClick" accept='text/plain' onchange='UploadFile(event)'><br>
    <a href="" id="a">click here to download your file</a>

    </details>
    
    <script>
        //$(document).ready(function() {$("header").hide();});
        var x = 0;
        var delay = 3000;
        function TimeDelay()
        {
          x = 1;
        }
        setInterval(TimeDelay,delay);
        setInterval(RunTime,1);

        /// Send to VK --->

        function kanomMovement(mov)
        {
          return (gameInstance.SendMessage("CameraVK","KanomchanMovement", mov));
        }
        function kanomSpeed(speed)
        {
          return (gameInstance.SendMessage("CameraVK","KanomchanSpeed", speed));
        }
        function LoadFileName(value)
        {
          return (gameInstance.SendMessage("CameraVK","UploadFileName",value));
        }

        function MSGExitKV(value)
        {
          return (gameInstance.SendMessage("MainCameraKB","MessageExitKV",value));
        }
        function MSGWriteUSB(value)
        {
          return (gameInstance.SendMessage("MainCameraKB","MessageWriteUSB",value));
        }
        function MSGWriteOutput1(value)
        {
          return (gameInstance.SendMessage("MainCameraKB","MessageWriteIO1",value));
        }
        function MSGWriteOutput2(value)
        {
          return (gameInstance.SendMessage("MainCameraKB","MessageWriteIO2",value));
        }
        function MSGLED(value)
        {
          return (gameInstance.SendMessage("MainCameraKB","MessageLED",value));
        }
        function MSGLoadFile(value)
        {
          return (gameInstance.SendMessage("MainCameraKB","MessageFileData",value));
        }
        function MSGLoadFileName(value)
        {
          return (gameInstance.SendMessage("MainCameraKB","MessageFileName",value));
        }
        function MSGServoAngle(value)
        {
          return (gameInstance.SendMessage("MainCameraKB","MessageServoAngle",value));
        }
        function MSGServoP1(value)
        {
          return (gameInstance.SendMessage("MainCameraKB","MessageServoP1",value));
        }
        function MSGServoP2(value)
        {
          return (gameInstance.SendMessage("MainCameraKB","MessageServoP2",value));
        }
        /*function MSGReadFileName(value)
        {
          return (gameInstance.SendMessage("MainCameraKB","MessageReadName",value));
        }*/

        /// Send from VK <---
        var UploadFile = function(event) 
        {
          var input = event.target;
          var reader = new FileReader();
          reader.onload = function()
          {
            var text = reader.result;
            var path = document.getElementById("autoClick").value;
            var name = path.split(/\./)[0];
            var fileName = name.substring(12);
            //console.log(reader.result.substring(0, 200));
            if(text != null)
            { 
              document.getElementById("TextOpenFile").innerHTML = text; 
              document.getElementById("TextFileName").innerHTML = fileName; 
            }
            else
            {
              document.getElementById("TextOpenFile").innerHTML = "0000,0000,0000,0000,0000,0000,0000,0000,0000";
              document.getElementById("TextFileName").innerHTML = "No file chosen"; 
            }

            //else{textLoad = "0000,0000,0000,0000,0000,0000,0000,0000";}
            //else{ MSGLoadFile("0000,0000,0000,0000,0000,0000,0000,0000"); }
            //document.getElementById("TextOpenFile").innerHTML = text;
          };
          reader.readAsText(input.files[0]);
        };
        function Call_Upload()
        {
          //Upload image to server
          document.getElementById("TextFileName").innerHTML = "No file chosen"; 
        }
        function Call_ChooseFile()
        {
          document.getElementById("autoClick").click();
        }
        function Call_ClearUpload()
        {
          document.getElementById("TextFileName").innerHTML = "No file chosen"; 
        }

        function Call_SW1(value)
        {
          document.getElementById("TextSwitch1").innerHTML = value;
        }
        function Call_SW2(value)
        {
          document.getElementById("TextSwitch2").innerHTML = value;
        }
        function Call_LightSensor(value)
        {
          document.getElementById("TextLightSensor").innerHTML = value;
        }
        function Call_TempSensor(value)
        {
          document.getElementById("TextTempSensor").innerHTML = value;
        }
        function Call_Input1(value)
        {
          document.getElementById("TextInput1").innerHTML = value;
        }
        function Call_Input2(value)
        {
          document.getElementById("TextInput2").innerHTML = value;
        }
        function Call_Input3(value)
        {
          document.getElementById("TextInput3").innerHTML = value;
        }
        function Call_Input4(value)
        {
          document.getElementById("TextInput4").innerHTML = value;
        }
        function Call_CloseSim(value)
        {
          document.getElementById("TextClose").innerHTML = value;
        }
        function Call_RunProgram(value)
        {
          document.getElementById("TextRun").innerHTML = value;
        }
        function Call_SaveTime(value)
        {
          document.getElementById("TextSaveTime").innerHTML = value;
        }
        /*function Call_SaverProgram(name, value)
        {
          //var blob = new Blob([value], {type: "text/plain;charset=utf-8"});
          //saveAs(blob, name);
          SaveFile(value, name, 'text/plain');
          document.getElementById("a").click();
          //var FileSaver = require('kidbrightide-simulator');
          //var blob = new Blob(["test test test"], {type: "text/plain;charset=utf-8"});
          //saveAs(blob, "Save111.txt");
        }
        function SaveFile(text, name, type) 
        {
          var a = document.getElementById("a");
          var file = new Blob([text], {type: type});
          a.href = URL.createObjectURL(file);
          a.download = name;
        }*/
        function DownloadImage(array, size, fileNamePtr) 
        {
          document.getElementById("TTT").innerHTML = "1";

          var bytes = new Uint8Array(array.length);
          for (var i = 0; i < size; i++)
          {
            bytes[i] = HEAPU8[array + i];
          }
          
          var a = document.getElementById('a');
          var blob = new Blob([bytes]);
          a.href = URL.createObjectURL(blob);
          a.download = fileNamePtr;
   
          /*var event = document.createEvent("MouseEvents");
          event.initMouseEvent("click");
          link.dispatchEvent(event);
          window.URL.revokeObjectURL(link.href);
          link.parentNode.removeChild(link);*/


          //DownloadCapture(bytes, fileNamePtr); 
          document.getElementById("a").click();
        
          //SaveFile("array55555", "fileNamePtr", 'text/plain');
          //document.getElementById("a").click();
        }


        function RunTime()
        {
          if(x == 1)
          {
            delay = 99999999;

          LoadFileName(document.getElementById("TextFileName").innerText);

          kanomMovement(document.getElementById("TextKanomMovement").innerText);
          kanomSpeed(document.getElementById("TextKanomSpeed").innerText);
          MSGExitKV(document.getElementById("TextExitKV").innerText);
          MSGWriteUSB(document.getElementById("TextUSB").innerText);
          MSGWriteOutput1(document.getElementById("TextOutput1").innerText);  
          MSGWriteOutput2(document.getElementById("TextOutput2").innerText);
          MSGLoadFile(document.getElementById("TextOpenFile").innerText);

          MSGServoAngle(document.getElementById("TextServo").innerText);
          MSGServoP1(document.getElementById("TextServoP1").innerText);  
          MSGServoP2(document.getElementById("TextServoP2").innerText);
          MSGLED(document.getElementById("x0y0").innerText + "," + document.getElementById("x0y1").innerText+ "," + document.getElementById("x0y2").innerText
          + "," + document.getElementById("x0y3").innerText+ "," + document.getElementById("x0y4").innerText+ "," + document.getElementById("x0y5").innerText
          + "," + document.getElementById("x0y6").innerText+ "," + document.getElementById("x0y7").innerText+ "," +document.getElementById("x1y0").innerText + "," + document.getElementById("x1y1").innerText+ "," + document.getElementById("x1y2").innerText
          + "," + document.getElementById("x1y3").innerText+ "," + document.getElementById("x1y4").innerText+ "," + document.getElementById("x1y5").innerText
          + "," + document.getElementById("x1y6").innerText+ "," + document.getElementById("x1y7").innerText+ "," +document.getElementById("x2y0").innerText + "," + document.getElementById("x2y1").innerText+ "," + document.getElementById("x2y2").innerText
          + "," + document.getElementById("x2y3").innerText+ "," + document.getElementById("x2y4").innerText+ "," + document.getElementById("x2y5").innerText
          + "," + document.getElementById("x2y6").innerText+ "," + document.getElementById("x2y7").innerText+ "," +document.getElementById("x3y0").innerText + "," + document.getElementById("x3y1").innerText+ "," + document.getElementById("x3y2").innerText
          + "," + document.getElementById("x3y3").innerText+ "," + document.getElementById("x3y4").innerText+ "," + document.getElementById("x3y5").innerText
          + "," + document.getElementById("x3y6").innerText+ "," + document.getElementById("x3y7").innerText+ "," +document.getElementById("x4y0").innerText + "," + document.getElementById("x4y1").innerText+ "," + document.getElementById("x4y2").innerText
          + "," + document.getElementById("x4y3").innerText+ "," + document.getElementById("x4y4").innerText+ "," + document.getElementById("x4y5").innerText
          + "," + document.getElementById("x4y6").innerText+ "," + document.getElementById("x4y7").innerText+ "," +document.getElementById("x5y0").innerText + "," + document.getElementById("x5y1").innerText+ "," + document.getElementById("x5y2").innerText
          + "," + document.getElementById("x5y3").innerText+ "," + document.getElementById("x5y4").innerText+ "," + document.getElementById("x5y5").innerText
          + "," + document.getElementById("x5y6").innerText+ "," + document.getElementById("x5y7").innerText+ "," +document.getElementById("x6y0").innerText + "," + document.getElementById("x6y1").innerText+ "," + document.getElementById("x6y2").innerText
          + "," + document.getElementById("x6y3").innerText+ "," + document.getElementById("x6y4").innerText+ "," + document.getElementById("x6y5").innerText
          + "," + document.getElementById("x6y6").innerText+ "," + document.getElementById("x6y7").innerText+ "," +document.getElementById("x7y0").innerText + "," + document.getElementById("x7y1").innerText+ "," + document.getElementById("x7y2").innerText
          + "," + document.getElementById("x7y3").innerText+ "," + document.getElementById("x7y4").innerText+ "," + document.getElementById("x7y5").innerText
          + "," + document.getElementById("x7y6").innerText+ "," + document.getElementById("x7y7").innerText+ "," +document.getElementById("x8y0").innerText + "," + document.getElementById("x8y1").innerText+ "," + document.getElementById("x8y2").innerText
          + "," + document.getElementById("x8y3").innerText+ "," + document.getElementById("x8y4").innerText+ "," + document.getElementById("x8y5").innerText
          + "," + document.getElementById("x8y6").innerText+ "," + document.getElementById("x8y7").innerText+ "," +document.getElementById("x9y0").innerText + "," + document.getElementById("x9y1").innerText+ "," + document.getElementById("x9y2").innerText
          + "," + document.getElementById("x9y3").innerText+ "," + document.getElementById("x9y4").innerText+ "," + document.getElementById("x9y5").innerText
          + "," + document.getElementById("x9y6").innerText+ "," + document.getElementById("x9y7").innerText+ "," +document.getElementById("x10y0").innerText + "," + document.getElementById("x10y1").innerText+ "," + document.getElementById("x10y2").innerText
          + "," + document.getElementById("x10y3").innerText+ "," + document.getElementById("x10y4").innerText+ "," + document.getElementById("x10y5").innerText
          + "," + document.getElementById("x10y6").innerText+ "," + document.getElementById("x10y7").innerText+ "," +document.getElementById("x11y0").innerText + "," + document.getElementById("x11y1").innerText+ "," + document.getElementById("x11y2").innerText
          + "," + document.getElementById("x11y3").innerText+ "," + document.getElementById("x11y4").innerText+ "," + document.getElementById("x11y5").innerText
          + "," + document.getElementById("x11y6").innerText+ "," + document.getElementById("x11y7").innerText+ "," +document.getElementById("x12y0").innerText + "," + document.getElementById("x12y1").innerText+ "," + document.getElementById("x12y2").innerText
          + "," + document.getElementById("x12y3").innerText+ "," + document.getElementById("x12y4").innerText+ "," + document.getElementById("x12y5").innerText
          + "," + document.getElementById("x12y6").innerText+ "," + document.getElementById("x12y7").innerText+ "," +document.getElementById("x13y0").innerText + "," + document.getElementById("x13y1").innerText+ "," + document.getElementById("x13y2").innerText
          + "," + document.getElementById("x13y3").innerText+ "," + document.getElementById("x13y4").innerText+ "," + document.getElementById("x13y5").innerText
          + "," + document.getElementById("x13y6").innerText+ "," + document.getElementById("x13y7").innerText+ "," +document.getElementById("x14y0").innerText + "," + document.getElementById("x14y1").innerText+ "," + document.getElementById("x14y2").innerText
          + "," + document.getElementById("x14y3").innerText+ "," + document.getElementById("x14y4").innerText+ "," + document.getElementById("x14y5").innerText
          + "," + document.getElementById("x14y6").innerText+ "," + document.getElementById("x14y7").innerText+ "," +document.getElementById("x15y0").innerText + "," + document.getElementById("x15y1").innerText+ "," + document.getElementById("x15y2").innerText
          + "," + document.getElementById("x15y3").innerText+ "," + document.getElementById("x15y4").innerText+ "," + document.getElementById("x15y5").innerText
          + "," + document.getElementById("x15y6").innerText+ "," + document.getElementById("x15y7").innerText);

          }
        }
        //document.getElementById("TextSwitch1").innerHTML = "0";
        //document.getElementById("TextSwitch2").innerHTML = "0";
        //document.getElementById("TextLightSensor").innerHTML = "0";
        //document.getElementById("TextTempSensor").innerHTML = "0";
        //document.getElementById("TextMonitorLED").innerHTML = "0";
        //document.getElementById("TextValueMonitor").innerHTML = "0";
        //$("#TextUSB", svgDoc).html('USB_Off');
        //if ($("#TextSwitch2", svgDoc).text() == '0')
          //mymsg(document.getElementById("test").innerText);
          //MSGWriteUSB(document.getElementById("TextUSB").innerText);
        
    </script>

  </body>

</html>